<!DOCTYPE html>
 
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login and Registration form example</title>
 
<link rel="stylesheet" type="text/css" href="css/login.css">
 
</head>
 
<body>
  <div id="container">
    <form action="login" method="post" id="flogin" action="/login">
      
      <div class="border-box">
  <a href="\">Home</a>
<h2>Login Form</h2>
<label for="uname" id="un">Email:</label>
<input type="text" name="Email" placeholder="Enter Username" id="uname"><br/>
 
<label for="upass" id="ps">Password:</label>
<input type="password" name="Password" placeholder="Enter Password" id="upass"><br/>
 
<button type="submit" value="Login"  id="submit" >Login</button>
 
<a href="/register">New Member</a>
</div>
 
</form>
</div>
 
</body>
</html>