<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Login and Registration form example</title>
    <link rel="stylesheet" type="text/css" href="css/register.css" />
  </head>
  <body bgcolor="#E6E6FA">
    <a href="\">Home</a>
 
    <form name="regi" method="post" action="/register">
      <h2>Registration Form</h2>

      <label for="r3" id="un">Username :</label>
      <input type="text" name="User_Name" id="r3" /><br />

      <label for="r5" id="em">Email :</label>
      <input type="text" name="Email" id="r5" /><br />

      <label for="r4" id="pwd">Password :</label>
      <input type="password" name="Password" id="r4" /><br />

      <button type="submit" value="Submit" id="button">Register</button>
      <br><br>
      <a href="\login">Already registered User?</a>

    </form>

    
  </body>
</html>
